.demo-card-wide.mdl-card {
  width: 96%;
  height: 96%;
  margin: 2%;
  border: 1pt solid transparent;
  transition: border 500ms;

}

.mdl-card__title-text {
  margin-top: 0;
  margin-left: 10%;
}

.mdl-card:hover {
  border: 1pt solid blue;
  border-radius: 4px;
}

.product-image{
  margin-left: 10%;
  width: auto;
  height: 90px;
  border-radius: 50%;
}

button{
  margin-left: 10%;
}



@media only screen and (max-width: 700px) {
  .mdl-card__title-text {
    font-size: 95%;
  }
}

