.demo-card-wide.mdl-card {
  width: 96%;
  height: 96%;
  margin: 2%;
  border: 1pt solid transparent;
  transition: border 500ms;

}

.mdl-card__title-text {
  margin-left: 10%;
  transition: font-size 500ms;
}

.mdl-card:hover {
  border: 1pt solid blue;
  border-radius: 4px;
}

.product-image{
  margin-left: 10%;
  width: auto;
  height: 90px;
  border-radius: 50%;
}

.edit-button{
  margin-left: 10%;
  margin-top: 2px;

}

.delete-button{
  margin-left: 5%;
  margin-top: 2px;
}


@media only screen and (max-width: 1000px) {
  .mdl-card__title-text {
    font-size: 115%;
  }
}

@media only screen and (max-width: 800px) {
  .mdl-card__title-text {
    font-size: 110%;
  }

}

@media only screen and (max-width: 700px) {
  .mdl-card__title-text {
    font-size: 105%;
  }
}

@media only screen and (max-width: 600px) {
  .mdl-card__title-text {
    font-size: 100%;
  }
  .product-image{
    width: auto;
    height: 70px;
  }
}


@media only screen and (max-width: 500px) {
  .mdl-card__title-text {
    font-size: 95%;
  }
  .product-image{
    width: auto;
    height: 70px;
  }
}

