<div class="demo-card-wide mdl-card "
     [ngStyle]="getBackgroundColor()">
  <div class="mdl-card__title">
    <img alt="No Image Avail"
         height="100"
         width="auto"
         src="../../../../../assets/img/coffeeCup.png">
  </div>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{product.productName}}</h2>
  </div>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{product.price}}</h2>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button (click)="onEdit()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored ">
      Edit
    </button>
  </div>
</div>
