<div class="mdl-card ">

  <form [formGroup]="form"
        autocomplete="off">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input"
             formControlName="productName"
             name="productName"
             type="text" id="productNameTxt">
      <label class="mdl-textfield__label" for="productNameTxt">Product Name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input"
             formControlName="productType"
             name="productType"
             type="text" id="productTypeTxt">
      <label class="mdl-textfield__label" for="productTypeTxt">productTypeTxt</label>
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <button (click)="onSave()"
              class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored ">
        Close
      </button>
    </div>
  </form>
</div>
