:host{
  display: inline-block;
}
.new-product{
  display: block;
  width: 94%;
  margin: 3%;
  background-color: rgba(0, 166, 0, 0.81);
  color: white;
  border: 1px lightgrey solid;
  border-radius: 10px;

}

.new-product h5{
  padding: 15px;
}

