<div class="mdl-layout mdl-js-layout">
  <div class="new-product" *ngIf="newProduct">
    <h4>{{newProduct}} Has been added</h4>
  </div>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div *ngFor="let product of products"
           class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <app-product-item [product]="product"
                          backgroundColor="rgba(236, 236, 236, 0.88)">
        </app-product-item>
      </div>
    </div>
  </main>
</div>
