<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <app-header [message]="headerMessage"
              [color]="headerTextColor"></app-header>
  <form [formGroup]="form"
        autocomplete="off">
    <mdl-textfield type="text"
                   (keyup)="resetHeaderMessage()"
                   required
                   error-msg="User Required"
                   formControlName="user"
                   floating-label
                   label="User"></mdl-textfield>
    <mdl-textfield type="password"
                   floating-label
                   (keyup)="resetHeaderMessage()"
                   required
                   error-msg="Password Required"
                   formControlName="password"
                   label="Password"></mdl-textfield>
    <div class="mdl-card__actions mdl-card--border">
      <button type="button"
              [disabled]="form.invalid"
              (click)="onLogin()"
              class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored ">
        Login
      </button>
    </div>

  </form>
</div>


