.mdl-textfield{
  margin-left: 20%;
  width: 60%;
}

.demo-card-wide.mdl-card {
  width: 98%;
  margin-left: 1%;
  margin-top: 2px;

}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 150px;
}
.demo-card-wide > .mdl-card__actions > {
  color: #fff;
  margin-bottom: 0;
}

.mdl-card__actions button{
  margin-left: 40% !important;

}



