<form [formGroup]="form"
      autocomplete="off">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <mdl-textfield type="text"
                   formControlName="user"
                   label="User"></mdl-textfield>
    <mdl-textfield type="password"
                   formControlName="password"
                   label="Password"></mdl-textfield>
    <div class="mdl-card__actions mdl-card--border">
      <button (click)="onLogin()"
              class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored ">
        Login
      </button>
    </div>
  </div>

</form>

