.mdl-card{
  display: flex!important;
  align-content: center;
  justify-content: center;
  margin: 10px! important;
  padding: 10px! important;
  border: 1px solid lightgrey;
  box-shadow: #dbdbdb;
}
