
<form [formGroup]="form"
      autocomplete="off">
  <mdl-textfield type="text"
                 formControlName="productName"
                 label="Product Name"></mdl-textfield>
  <mdl-textfield type="text"
                 formControlName="productType"
                 label="Product Type"></mdl-textfield>
  <mdl-textfield type="text"
                 formControlName="price"
                 label="Price"></mdl-textfield>

  <div class="mdl-card__actions mdl-card--border">
    <button (click)="onSave()"
            type="button"
            [disabled]="form.invalid"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored ">
      Save
    </button>
    <button (click)="onCancel()"
            type="button"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored ">
      Cancel
    </button>
  </div>
</form>
