div{
  display: flex;
  align-content: center;
  height: 60px;
  background-color: lightgrey;
}


a{
  text-decoration: none;
  color: white;
  font-size: 14pt;
  margin: 20px;
}



.nav-item-login-message{
  width: 100%!important;
  color: green;

}

.nav-link:hover{
  color: blue;
}

.active-link{
  color: darkblue;
}

.display-only-link{
  color: green;
}
