div{
  display: flex;
  align-content: center;
  height: 60px;
  background-color: lightgrey;
}


a{
  text-decoration: none;
  color: white;
  font-size: 14pt;
  margin: 20px;
}

a:hover{
  color: blue;
}
