<div class="demo-card-wide mdl-card mdl-shadow--2dp">

  <div  *ngIf="!errorMessage"
        class="mdl-card__title add-record">
    <h4>Add Product</h4>
  </div>
  <div *ngIf="errorMessage"
       class="mdl-card__title error-message">
    <h4>{{errorMessage}}</h4>
  </div>
  <form [formGroup]="form"
        autocomplete="off">
    <mdl-textfield type="text"
                   maxlength="35"
                   (keypress)="errorMessage=undefined"
                   required
                   floating-label
                   error-msg="Product Required"
                   formControlName="productName"
                   label="Product Name"></mdl-textfield>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <select formControlName="productType"
              class="mdl-textfield__input"
              id="prodType" >
        <option value="wine">Wine</option>
        <option value="coffee">Coffee</option>
      </select>
      <label class="mdl-textfield__label" for="prodType">Product Type</label>
    </div>
    <mdl-textfield type="text"
                   floating-label
                   (keypress)="onPriceKeyPress($event)"
                   formControlName="price"
                   label="Price"></mdl-textfield>
    <div class="mdl-card__actions mdl-card--border">
      <button type="button"
              [disabled]="form.invalid"
              (click)="onSave()"
              class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored ">
        Save
      </button>
    </div>
  </form>
</div>

