button{
  margin-left: 10%;
}


.demo-card-wide {
  width: 92%;
  height: 92%;
  margin: 4%;
  border: 1pt solid transparent;
  transition: border 300ms;

}

mdl-textfield{
  width: 60%;
  display: block;
}
