<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h3>Add Product</h3>
  </div>
  <form [formGroup]="form"
        autocomplete="off">
    <mdl-textfield type="text"
                   formControlName="productName"
                   label="Product Name"></mdl-textfield>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <select formControlName="productType"
              class="mdl-textfield__input"
              id="prodType" >
        <option value="wine">Wine</option>
        <option value="coffee">Coffee</option>

      </select>
      <label class="mdl-textfield__label" for="prodType">Product Type</label>
    </div>
    <mdl-textfield type="text"
                   formControlName="price"
                   label="Price"></mdl-textfield>

    <div class="mdl-card__actions mdl-card--border">
      <button (click)="onSave()"
              class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored ">
        Save
      </button>
    </div>
  </form>
</div>

